.page {
  color: white;
  padding: 0 1rem;
  background: #f1f5f9;
  &__box {
    min-height: 120px;
    background: #1e293b;
    margin: 0 -1rem;
    font-size: 36px;
  }
  &__content {
    min-height: calc(100vh - 178px);
    border-radius: 10px;
    margin-top: -2rem;
    background: white;
    color: black;



  }
}





body {
  background-color: lighten(#040444, 30%);

  * { box-sizing: border-box;

  }
}

.header {
  background-color: darken(#27626b, 5%);
  color: white;
  font-size: 1.5em;
  padding: 1rem;
  text-align: center;
  text-transform: uppercase;
}

img {
  border-radius: 50%;
  height: 60px;
  width: 60px;
}

.table-users {
  border: 1px solid darken(rgb(4, 4, 68), 5%);
  border-radius: 10px;
  box-shadow: 3px 3px 0 rgba(0,0,0,0.1);
  max-width: calc(100% - 2em);
  margin: 1em auto;
  overflow: hidden;
  width: 160rem;
}

table {
  width: 1200px;

  td, th {
    color: darken(#235f67, 10%);
    padding: 10px;
  }

  td {
    text-align: center;
    vertical-align: middle;

    &:last-child {
      font-size: 0.95em;
      line-height: 1.4;
      text-align: left;
    }
  }

  th {
    background-color: lighten(#398B93, 50%);
    font-weight: 300;
    text-align: center;
  }

  tr {
    &:nth-child(2n) { background-color: white; }
    &:nth-child(2n+1) { background-color: lighten(#398B93, 55%) }
  }
}

@media screen and (max-width: 700px) {
  table, tr, td { display: block; }

  td {
    &:first-child {
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      width: 100px;
    }

    &:not(:first-child) {
      clear: both;
      margin-left: 100px;
      padding: 4px 20px 4px 90px;
      position: relative;
      text-align: left;

      &:before {
        color: lighten(#398B93, 30%);
        content: '';
        display: block;
        left: 0;
        position: absolute;
      }
    }

    &:nth-child(2):before { content: 'Name:'; }
    &:nth-child(3):before { content: 'Email:'; }
    &:nth-child(4):before { content: 'Phone:'; }
    &:nth-child(5):before { content: 'Comments:'; }
  }

  tr {
    padding: 10px 0;
    position: relative;
    &:first-child { display: none; }
  }
}

@media screen and (max-width: 500px) {
  .header {
    background-color: transparent;
    color: lighten(#398B93, 60%);
    font-size: 2em;
    font-weight: 700;
    padding: 0;
    text-shadow: 2px 2px 0 rgba(0,0,0,0.1);
  }

  img {
    border: 3px solid;
    border-color: lighten(#398B93, 50%);
    height: 100px;
    margin: 0.5rem 0;
    width: 100px;
  }

  td {
    &:first-child {
      background-color: lighten(#398B93, 45%);
      border-bottom: 1px solid lighten(#398B93, 30%);
      border-radius: 10px 10px 0 0;
      position: relative;
      top: 0;
      transform: translateY(0);
      width: 100%;
    }

    &:not(:first-child) {
      margin: 0;
      padding: 5px 1em;
      width: 100%;

      &:before {
        font-size: .8em;
        padding-top: 0.3em;
        position: relative;
      }
    }

    &:last-child  { padding-bottom: 1rem !important; }
  }

  tr {
    background-color: white !important;
    border: 1px solid lighten(#398B93, 20%);
    border-radius: 10px;
    box-shadow: 2px 2px 0 rgba(0,0,0,0.1);
    margin: 0.5rem 0;
    padding: 0;
  }

  .table-users {
    border: none;
    box-shadow: none;
    overflow: visible;
  }
}
div .search{
  display: flex;
  justify-content: center;

}

div input{
  border-radius: 10rem ;
  border: none;
  height: 2.4rem;
  width: 25rem;
  background-color: #dff5f8;
  padding: 1rem;
  font-size: 1rem;
  font-weight: 500;
  outline: none;
  margin-bottom: 3.5px;
}

:host{
  display: flex;
  flex-direction: column;
  height: 100%;
}
mat-drawer{
  width: 260px;
  background:  #0f172a;
}
mat-drawer-container{
  height: 100%;
}


