<mat-nav-list>
  <div class="logo py-4">
    <img src="assets/img/logo.webp" alt="logo">
  </div>
  <mat-divider>   </mat-divider>
  <h2 matSubheader class="mt-2">
    APPLICATION
  </h2>

  <a mat-list-item routerLink="/dashboard" routerLinkActive="list-item-active">
    <mat-icon>dashboard</mat-icon> Dashboard</a>
  <a mat-list-item routerLink="/listStudent" routerLinkActive="list-item-active">
    <mat-icon>group</mat-icon>Student List
  </a>
  <a mat-list-item routerLink="/addBook" routerLinkActive="list-item-active">
    <mat-icon>note_add</mat-icon>Add Book
  </a>
  <a mat-list-item routerLink="/listBook" routerLinkActive="list-item-active">
    <mat-icon>menu_book</mat-icon>Book List
  </a>
  <a mat-list-item routerLink="/re-book" routerLinkActive="list-item-active">
    <mat-icon>book</mat-icon>Receive Book
  </a>
  <a mat-list-item routerLink="/returnBook" routerLinkActive="list-item-active">
    <mat-icon>assignment turned in icon</mat-icon>Receive Book List
  </a>
  <a mat-list-item routerLink="/returnBookList" routerLinkActive="list-item-active">
    <mat-icon>collections_bookmark</mat-icon>Return Book List
  </a>
  <a mat-list-item routerLink="/paymentList" routerLinkActive="list-item-active">
    <mat-icon>payment</mat-icon>Payment
  </a>
  <a mat-list-item (click)="onLogout()" >
    <mat-icon>logout</mat-icon>Log Out
  </a>
</mat-nav-list>


