<nav class="navbar fixed-top navbar-expand-lg navbar-dark bg-light top-nav fixed-top">
  <div class="container">
    <div class="logo">
      <a class="navbar-brand" href="index.html">
        <img src="https://msl.mt.gov/_images/MSL-GSLong_grayRev.png" style="height: 30px; width: 160px" alt="logo" />
      </a>
    </div>
    <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="true" aria-label="Toggle navigation">
      <span class="fas fa-bars"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarResponsive">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item">
          <a class="nav-link " routerLink="/Index" routerLinkActive="" >Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/books" routerLinkActive="active">Books</a>
        </li>

        <li class="nav-item">
          <a class="nav-link"  routerLink="/register" routerLinkActive="active">Membership</a>
        </li>

        <li class="nav-item ">
          <a class="nav-link"  routerLink="/payment" routerLinkActive="active">Payment</a>

        </li>

        <li class="nav-item">
          <a class="nav-link"routerLink="/contact" routerLinkActive="active">Contact</a>
        </li>
        <li class="nav-item">
          <a class="nav-link"  routerLink="/login" routerLinkActive="active">Admin</a>
        </li>
      </ul>
    </div>
  </div>
</nav>

