<mat-drawer-container>
  <mat-drawer mode="side" [opened]="sideBarOpen">
   <app-admin-nav></app-admin-nav>
  </mat-drawer>
  <mat-drawer-content>
    <app-admin-header (toggleSidebarForMe)="sideBarToggler()"></app-admin-header>

    <div class="container-fluid page">
      <div class="d-flex page__box p-3 mt-2">Student List</div>
      <div class="page__content shadow p-3 position-relative">
        <div class="page__content-data position-absolute ">


          







        </div>
      </div></div>

  </mat-drawer-content>
</mat-drawer-container>


